html {
  margin: 0;
}
body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  margin: 0;
}

.article {
  top: 0;
  left: 0;
  max-width: 50%;
  padding-top: 30px;
}

.section {
  max-width: 70%;
  margin: 0 auto;
}

.fixed {
  top: 0;
  right: 7.5%;
  bottom: 0;
  max-width: 50%;
  padding: 20px;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pullquote {
  font-size: 36px;
  text-align: center;
  font-style: italic;
  margin-top: 130vh;
  margin-bottom: 20vh;
}

pre {
  margin: 25px 0;
  width: 100%;
}

pre code {
  background: #F2F3F2;
  color: #000;
  padding: 20px 15px;
  width: 100%;
  display: block;
  overflow-x: auto;
}

.article-title {
  margin-top: 45vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-size: 48px;
  text-align: center;
}