init:
  # Get the latest stable version of Node.js
  - ps: Install-Product node $env:nodejs_version
  - npm install --global yarn
  - set PATH=%PATH%;C:\.yarn\bin

image:
  - Visual Studio 2017

matrix:
  fast_finish: true

environment:
  matrix:
    - nodejs_version: "6"
    - nodejs_version: "7"
    - nodejs_version: "8"

cache:
 - "%LOCALAPPDATA%\\Yarn"

install:
  # install modules
  - yarn install

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  - cd packages/idyll-cli && npm run test && cd ../..
  - cd packages/idyll-compiler && npm run test && cd ../..
  - cd packages/idyll-components && npm run test && cd ../..
  - cd packages/idyll-document && npm run test && cd ../..
  - cd packages/idyll-layouts && npm run test && cd ../..
  - cd packages/idyll-themes && npm run test && cd ../..

# Don't actually build.
build: off