image:
  - Visual Studio 2017

environment:
  nodejs_version: "6"
  SPELLCHECKER_PREFER_HUNSPELL: true

install:
  # Get the latest stable version of Node.js
  - ps: Install-Product node $env:nodejs_version
  # install modules
  - npm --msvs_version=2013 install

# Post-install test scripts.
test_script:
  # Output useful info for debugging.
  - node --version
  - npm --version
  - npm run test

# Don't actually build.
build: off
