@font-face {
  font-family: octicons-link;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZwABAAAAAACFQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABEU0lHAAAGaAAAAAgAAAAIAAAAAUdTVUIAAAZcAAAACgAAAAoAAQAAT1MvMgAAAyQAAABJAAAAYFYEU3RjbWFwAAADcAAAAEUAAACAAJThvmN2dCAAAATkAAAABAAAAAQAAAAAZnBnbQAAA7gAAACyAAABCUM+8IhnYXNwAAAGTAAAABAAAAAQABoAI2dseWYAAAFsAAABPAAAAZwcEq9taGVhZAAAAsgAAAA0AAAANgh4a91oaGVhAAADCAAAABoAAAAkCA8DRGhtdHgAAAL8AAAADAAAAAwGAACfbG9jYQAAAsAAAAAIAAAACABiATBtYXhwAAACqAAAABgAAAAgAA8ASm5hbWUAAAToAAABQgAAAlXu73sOcG9zdAAABiwAAAAeAAAAME3QpOBwcmVwAAAEbAAAAHYAAAB/aFGpk3jaTY6xa8JAGMW/O62BDi0tJLYQincXEypYIiGJjSgHniQ6umTsUEyLm5BV6NDBP8Tpts6F0v+k/0an2i+itHDw3v2+9+DBKTzsJNnWJNTgHEy4BgG3EMI9DCEDOGEXzDADU5hBKMIgNPZqoD3SilVaXZCER3/I7AtxEJLtzzuZfI+VVkprxTlXShWKb3TBecG11rwoNlmmn1P2WYcJczl32etSpKnziC7lQyWe1smVPy/Lt7Kc+0vWY/gAgIIEqAN9we0pwKXreiMasxvabDQMM4riO+qxM2ogwDGOZTXxwxDiycQIcoYFBLj5K3EIaSctAq2kTYiw+ymhce7vwM9jSqO8JyVd5RH9gyTt2+J/yUmYlIR0s04n6+7Vm1ozezUeLEaUjhaDSuXHwVRgvLJn1tQ7xiuVv/ocTRF42mNgZGBgYGbwZOBiAAFGJBIMAAizAFoAAABiAGIAznjaY2BkYGAA4in8zwXi+W2+MjCzMIDApSwvXzC97Z4Ig8N/BxYGZgcgl52BCSQKAA3jCV8CAABfAAAAAAQAAEB42mNgZGBg4f3vACQZQABIMjKgAmYAKEgBXgAAeNpjYGY6wTiBgZWBg2kmUxoDA4MPhGZMYzBi1AHygVLYQUCaawqDA4PChxhmh/8ODDEsvAwHgMKMIDnGL0x7gJQCAwMAJd4MFwAAAHjaY2BgYGaA4DAGRgYQkAHyGMF8NgYrIM3JIAGVYYDT+AEjAwuDFpBmA9KMDEwMCh9i/v8H8sH0/4dQc1iAmAkALaUKLgAAAHjaTY9LDsIgEIbtgqHUPpDi3gPoBVyRTmTddOmqTXThEXqrob2gQ1FjwpDvfwCBdmdXC5AVKFu3e5MfNFJ29KTQT48Ob9/lqYwOGZxeUelN2U2R6+cArgtCJpauW7UQBqnFkUsjAY/kOU1cP+DAgvxwn1chZDwUbd6CFimGXwzwF6tPbFIcjEl+vvmM/byA48e6tWrKArm4ZJlCbdsrxksL1AwWn/yBSJKpYbq8AXaaTb8AAHja28jAwOC00ZrBeQNDQOWO//sdBBgYGRiYWYAEELEwMTE4uzo5Zzo5b2BxdnFOcALxNjA6b2ByTswC8jYwg0VlNuoCTWAMqNzMzsoK1rEhNqByEyerg5PMJlYuVueETKcd/89uBpnpvIEVomeHLoMsAAe1Id4AAAAAAAB42oWQT07CQBTGv0JBhagk7HQzKxca2sJCE1hDt4QF+9JOS0nbaaYDCQfwCJ7Au3AHj+LO13FMmm6cl7785vven0kBjHCBhfpYuNa5Ph1c0e2Xu3jEvWG7UdPDLZ4N92nOm+EBXuAbHmIMSRMs+4aUEd4Nd3CHD8NdvOLTsA2GL8M9PODbcL+hD7C1xoaHeLJSEao0FEW14ckxC+TU8TxvsY6X0eLPmRhry2WVioLpkrbp84LLQPGI7c6sOiUzpWIWS5GzlSgUzzLBSikOPFTOXqly7rqx0Z1Q5BAIoZBSFihQYQOOBEdkCOgXTOHA07HAGjGWiIjaPZNW13/+lm6S9FT7rLHFJ6fQbkATOG1j2OFMucKJJsxIVfQORl+9Jyda6Sl1dUYhSCm1dyClfoeDve4qMYdLEbfqHf3O/AdDumsjAAB42mNgYoAAZQYjBmyAGYQZmdhL8zLdDEydARfoAqIAAAABAAMABwAKABMAB///AA8AAQAAAAAAAAAAAAAAAAABAAAAAA==) format('woff');
}

.idyll-root {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.idyll-root .pl-c {
  color: #969896;
}

.idyll-root .pl-c1,
.idyll-root .pl-s .pl-v {
  color: #0086b3;
}

.idyll-root .pl-e,
.idyll-root .pl-en {
  color: #795da3;
}

.idyll-root .pl-smi,
.idyll-root .pl-s .pl-s1 {
  color: #333;
}

.idyll-root .pl-ent {
  color: #63a35c;
}

.idyll-root .pl-k {
  color: #a71d5d;
}

.idyll-root .pl-s,
.idyll-root .pl-pds,
.idyll-root .pl-s .pl-pse .pl-s1,
.idyll-root .pl-sr,
.idyll-root .pl-sr .pl-cce,
.idyll-root .pl-sr .pl-sre,
.idyll-root .pl-sr .pl-sra {
  color: #183691;
}

.idyll-root .pl-v,
.idyll-root .pl-smw {
  color: #ed6a43;
}

.idyll-root .pl-bu {
  color: #b52a1d;
}

.idyll-root .pl-ii {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.idyll-root .pl-c2 {
  color: #f8f8f8;
  background-color: #b52a1d;
}

.idyll-root .pl-c2::before {
  content: "^M";
}

.idyll-root .pl-sr .pl-cce {
  font-weight: bold;
  color: #63a35c;
}

.idyll-root .pl-ml {
  color: #693a17;
}

.idyll-root .pl-mh,
.idyll-root .pl-mh .pl-en,
.idyll-root .pl-ms {
  font-weight: bold;
  color: #1d3e81;
}

.idyll-root .pl-mq {
  color: #008080;
}

.idyll-root .pl-mi {
  font-style: italic;
  color: #333;
}

.idyll-root .pl-mb {
  font-weight: bold;
  color: #333;
}

.idyll-root .pl-md {
  color: #bd2c00;
  background-color: #ffecec;
}

.idyll-root .pl-mi1 {
  color: #55a532;
  background-color: #eaffea;
}

.idyll-root .pl-mc {
  color: #ef9700;
  background-color: #ffe3b4;
}

.idyll-root .pl-mi2 {
  color: #d8d8d8;
  background-color: #808080;
}

.idyll-root .pl-mdr {
  font-weight: bold;
  color: #795da3;
}

.idyll-root .pl-mo {
  color: #1d3e81;
}

.idyll-root .pl-ba {
  color: #595e62;
}

.idyll-root .pl-sg {
  color: #c0c0c0;
}

.idyll-root .pl-corl {
  text-decoration: underline;
  color: #183691;
}

.idyll-root .octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

.idyll-root a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.idyll-root a:active,
.idyll-root a:hover {
  outline-width: 0;
}

.idyll-root strong {
  font-weight: inherit;
}

.idyll-root strong {
  font-weight: bolder;
}

.idyll-root h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.idyll-root img {
  border-style: none;
}

.idyll-root svg:not(:root) {
  overflow: hidden;
}

.idyll-root code,
.idyll-root kbd,
.idyll-root pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.idyll-root hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.idyll-root input {
  font: inherit;
  margin: 10px 10px 20px 0;
}

.idyll-root input {
  overflow: visible;
}

.idyll-root [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.idyll-root * {
  box-sizing: border-box;
}

.idyll-root input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.idyll-root a {
  color: #0366d6;
  text-decoration: none;
}

.idyll-root a:hover {
  text-decoration: underline;
}

.idyll-root strong {
  font-weight: 600;
}

.idyll-root hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5;
}

.idyll-root hr::before {
  display: table;
  content: "";
}

.idyll-root hr::after {
  display: table;
  clear: both;
  content: "";
}

.idyll-root table {
  border-spacing: 0;
  border-collapse: collapse;
}

.idyll-root td,
.idyll-root th {
  padding: 0;
}

.idyll-root h1,
.idyll-root h2,
.idyll-root h3,
.idyll-root h4,
.idyll-root h5,
.idyll-root h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.idyll-root h1 {
  font-size: 32px;
  font-weight: 600;
}

.idyll-root h2 {
  font-size: 24px;
  font-weight: 600;
}

.idyll-root h3 {
  font-size: 20px;
  font-weight: 600;
}

.idyll-root h4 {
  font-size: 16px;
  font-weight: 600;
}

.idyll-root h5 {
  font-size: 14px;
  font-weight: 600;
}

.idyll-root h6 {
  font-size: 12px;
  font-weight: 600;
}

.idyll-root p {
  margin-top: 0;
  margin-bottom: 10px;
}

.idyll-root blockquote {
  margin: 0;
}

.idyll-root ul,
.idyll-root ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.idyll-root ol ol,
.idyll-root ul ol {
  list-style-type: lower-roman;
}

.idyll-root ul ul ol,
.idyll-root ul ol ol,
.idyll-root ol ul ol,
.idyll-root ol ol ol {
  list-style-type: lower-alpha;
}

.idyll-root dd {
  margin-left: 0;
}

.idyll-root code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.idyll-root pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.idyll-root .octicon {
  vertical-align: text-bottom;
}

.idyll-root .pl-0 {
  padding-left: 0 !important;
}

.idyll-root .pl-1 {
  padding-left: 4px !important;
}

.idyll-root .pl-2 {
  padding-left: 8px !important;
}

.idyll-root .pl-3 {
  padding-left: 16px !important;
}

.idyll-root .pl-4 {
  padding-left: 24px !important;
}

.idyll-root .pl-5 {
  padding-left: 32px !important;
}

.idyll-root .pl-6 {
  padding-left: 40px !important;
}

.idyll-root::before {
  display: table;
  content: "";
}

.idyll-root::after {
  display: table;
  clear: both;
  content: "";
}

.idyll-root>*:first-child {
  margin-top: 0 !important;
}

.idyll-root>*:last-child {
  margin-bottom: 0 !important;
}

.idyll-root a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.idyll-root .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

.idyll-root .anchor:focus {
  outline: none;
}

.idyll-root p,
.idyll-root blockquote,
.idyll-root ul,
.idyll-root ol,
.idyll-root dl,
.idyll-root table,
.idyll-root pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.idyll-root hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.idyll-root blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.idyll-root blockquote>:first-child {
  margin-top: 0;
}

.idyll-root blockquote>:last-child {
  margin-bottom: 0;
}

.idyll-root kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.idyll-root h1,
.idyll-root h2,
.idyll-root h3,
.idyll-root h4,
.idyll-root h5,
.idyll-root h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.idyll-root h1 .octicon-link,
.idyll-root h2 .octicon-link,
.idyll-root h3 .octicon-link,
.idyll-root h4 .octicon-link,
.idyll-root h5 .octicon-link,
.idyll-root h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.idyll-root h1:hover .anchor,
.idyll-root h2:hover .anchor,
.idyll-root h3:hover .anchor,
.idyll-root h4:hover .anchor,
.idyll-root h5:hover .anchor,
.idyll-root h6:hover .anchor {
  text-decoration: none;
}

.idyll-root h1:hover .anchor .octicon-link,
.idyll-root h2:hover .anchor .octicon-link,
.idyll-root h3:hover .anchor .octicon-link,
.idyll-root h4:hover .anchor .octicon-link,
.idyll-root h5:hover .anchor .octicon-link,
.idyll-root h6:hover .anchor .octicon-link {
  visibility: visible;
}

.idyll-root h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.idyll-root h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.idyll-root h3 {
  font-size: 1.25em;
}

.idyll-root h4 {
  font-size: 1em;
}

.idyll-root h5 {
  font-size: 0.875em;
}

.idyll-root h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.idyll-root h1.hed,
.idyll-root h2.dek {
  border-bottom: none;
  padding-bottom: 0;
  margin-top: 12px;
}

.idyll-root ul,
.idyll-root ol {
  padding-left: 2em;
}

.idyll-root ul ul,
.idyll-root ul ol,
.idyll-root ol ol,
.idyll-root ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.idyll-root li>p {
  margin-top: 16px;
}

.idyll-root li+li {
  margin-top: 0.25em;
}

.idyll-root dl {
  padding: 0;
}

.idyll-root dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.idyll-root dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.idyll-root table {
  display: block;
  width: 100%;
  overflow: auto;
}

.idyll-root table th {
  font-weight: 600;
}

.idyll-root table th,
.idyll-root table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.idyll-root table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.idyll-root table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.idyll-root img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.idyll-root code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.idyll-root code::before,
.idyll-root code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.idyll-root pre {
  word-wrap: normal;
}

.idyll-root pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.idyll-root .highlight {
  margin-bottom: 16px;
}

.idyll-root .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.idyll-root .highlight pre,
.idyll-root pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.idyll-root pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.idyll-root pre code::before,
.idyll-root pre code::after {
  content: normal;
}

.idyll-root .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

.idyll-root kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.idyll-root :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

.idyll-root .task-list-item {
  list-style-type: none;
}

.idyll-root .task-list-item+.task-list-item {
  margin-top: 3px;
}

.idyll-root .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

.idyll-root hr {
  border-bottom-color: #eee;
}
