
html {
  margin: 0;
  padding: 0;
}

body {
  /*background: #FCFBFB;*/
  margin: 0;
  padding: 0;
  color: #000;
  font-family: Verdana;
  font-size: 14px;
}

header {
  font-family: Georgia,Times,Times New Roman,serif; 
  font-size: 48px;
  padding: 80px 0 30px 0;
  max-width: 640px;
  margin: 0 auto;
}
header p {
  margin: 0;
  padding-bottom: 10px;
  /*border-bottom: solid 2px black;*/
  color: #000;
}

a {
  color: #984447;
}

.section {
  padding: 0 0;
  max-width: 640px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.article {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

h1,h2,h3,h4,h5,h6{
  margin: 20px 0 0 0;
  font-family: Georgia,Times,Times New Roman,serif; 
}

pre {
  margin: 25px 0;
  width: 100%;
}

pre code {
  background: #F2F3F2;
  color: #000;
  padding: 20px 15px;
  width: 100%;
  display: block;
}

.inset {
  max-width: 400px;
  margin: 0 auto;
}